* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* Barra de navegaciín */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
}
.logo img{
    height: 25px;
}

.navLinks {
    display: flex;
    text-align: center;
    list-style-type: none;
    margin-bottom: 0;
}

.navLinks li {
    margin: 0 20px;
}

.navLinks a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 600;
}

.navLinks a:hover {
    background-color: #FDCE8B;
    color: #333333;
}

.btnInSesion {
    margin: 0 20px;
    padding: 10px 20px;
    background-color: #FDCE8B;
    color: #333333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btnInSesion:hover, .btnRegist:hover{
    background-color: #D56A15;
    color: #ffffff;
}

.btnRegist {
    color: #D56A15;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 2px #b5b5b5;
    transition: background-color 0.3s ease, color 0.3s ease;
}


/* Formularios */

.loginForm, .registroForm {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
}

.loginForm h1, .registroForm h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 8px;
    color: #FFF0DE;
}

form input[type="text"],
form input[type="password"],
form input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
}

#btnLogin {
    padding: 12px 20px;
    background-color: #FDCE8B;
    color: #333333;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

#btnLogin:hover {
    background-color: #D56A15;
    color: #ffffff;
}

.registroLink {
    margin-top: 20px;
    text-align: center;
    color: #888888;
}

.registroLink a {
    color: #D56A15;
    text-decoration: none;
}

.registroLink a:hover {
    text-decoration: underline;
}

.invisible {
    display: none;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* Home */
.newCrypto{
    background-color: #FFF0DE;
    padding: 20px 20px 10px 20px;
    border-radius: 16px;
}

.tituloTable{
    color: #919191 !important;
    font-weight: 500 !important;
}

.subtituloTable{
    color: #333333 !important;
}

h2 {
    color: #333333;
    margin: 10px;
    text-align: left;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
}
h4 {
    color: #333333;
    font-size: 16px;
}

p{
    margin-bottom: 0;
}

.mercado td{
    color: #333333;
    padding-top: 15px;
    padding-bottom: 15px;
}

.porcentage{
    color: #31a231 !important; 
}

.porcentageRed{
    color: #d01111 !important;
}

.criptomoneda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.infoCrypto {
    display: flex;
    flex-direction: column;
}

.btn{
    border-radius: 50px !important;
    background-color: #FDCE8B !important;
    color: #333333 !important;
    padding: 5px 20px !important;
}

.btn:hover{
    background-color: #D56A15 !important;
    color: #ffffff !important;
}


/* Comprobante */
.detalleCompra {
    background-color: #FFF0DE;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

.detalleCompra h2 {
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

.detalleCompraContent p {
    font-size: 16px;
    margin: 10px 0;
}

#btnComprobante{
    margin-top: 20px;
    display: flex;
    justify-content: right;

}

#btnVolver {
    background-color: #33333300;
    color: #333333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#btnVolver:hover, #btnPerfil:hover{
    background-color: #333333;
    color: #FFF0DE;
}

/* Perfil */

.perfilFoto {
    display: flex;
    flex-direction: row;
    margin: 20px 0 50px 0;
    text-align: center;
}

.perfilFoto img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff; 
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.perfilFoto input[type="file"] {
    margin-top: 10px;
}

#balanceSec {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

#balanceSec, #perfilSec, #movimientosCompra, #movimientosVenta, h2 {
    color: #333333; 
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

#balanceSec p {
    color: #555555;
    font-size: 16px;
    margin-bottom: 20px;
}

.btnDepositar, .btnRetirar {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: #FDCE8B; 
    color: #333333;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 10px;
}

.btnDepositar:hover, .btnRetirar:hover {
    background-color: #D56A15; 
    color: #ffffff;
}

#movimientosCompra, #movimientosVenta {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

#movimientosCompra ul, #movimientosVenta ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#movimientosCompra ul li, #movimientosVenta ul li {
    color: #555555; 
    font-size: 16px;
    margin-bottom: 10px;
}





